<h1>Deleware corporations data liberation</h1>
<h2>What is this?</h2>
Why we're doing it, why we need to crowdsource it, how simple it is for you to help

<h2>Quick Start</h2>

<h3>Step 1: Get a digger key</h2>
<p>Enter your email address, and we will send you a digger key</p>
<form action="" method="post">
  <label>Email address</label><input type="text"></input>
</form>

<h3>Step 2: Install the browser Extension</h2>
<p>Install the extension for your browser.</p>
<ul>
  <li><a href="/extension.crx">Chrome</a></li>
</ul>

<h3>Step 3: Start browsing</h3>
Directions on the extenison, including how what to do with the digger key


<h2>How it works</h2>
