<h1>Deleware corporations data liberation</h1>
<h2>What is this?</h2>
Why we're doing it, why we need to crowdsource it, how simple it is for you to help

<h2>Quick Start</h2>

<h3>Step 1: Make an account</h2>
<form>
  Email address
  Password
</form>
  API Key (Hidden until the top two have been submitted. It appears filled-in already.)

<h3>Step 2: Install the browser Extension</h2>
Install the extension for your browser.
<ul>
  <li><a href="/extension.crx">Chrome</a></li>
</ul>

<h3>Start browsing</h3>
Directions on the extenison


<h2>How it works</h2>
